body {
    text-align: center;  
}

#search-div {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    position: relative;
}

#search-bar {
    padding: 20px;
    height: 60px;
    width: 35%;

    border-style: solid;
    border-radius: 30px;
    border-color: lightgrey;
}

#search-bar:focus {
    border-color: lightskyblue;
}

#completion-list {
    position: absolute;
    padding-top: 5px;
    left: 50%;
    margin-left: -16%;
    margin-top: -1.1%;
    width: 32%;
    max-height: 10%;

    border-style: solid;
    border-width: 2px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: lightgray;
    border-top-color: lightskyblue;

    overflow: hidden;
    overflow-y: scroll;

    background-color: white;
    opacity: 0.8;
    z-index: 5;
}

.completion-item {
    margin: 5px;
    font-size: small;
    color: black;
}

.completion-item:hover {
    background-color: lightgray;
}

.icon {
    color: gray;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 30%;
    right: 33.5%;    
}

.icon-help {
    color: gray;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 30%;
    right: 30%;
    opacity: 0.8;
}

i {
    padding: 8px;
}

i:hover {
    background-color: lightgray;
}

#help-popup {
    position: absolute;

    margin: 0;
    top: -5%;
    right: 8%;
    width: 21%;

    background-color: white;
    opacity: 0.8;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: lightskyblue;
}

#help-popup p {
    font-size: small;
    color: #888888;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4287f5;
    margin: 4px;
}

a:hover {
    color: lightgray;
}

p:hover { 
    cursor: pointer; 
}

#content {
    clear: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#filter {
    position: relative;
    left: 50%;
    margin-left: -12.5%;
    width: 27%;
    height: 10%;
}

select {
    float: left;
    margin-left: 1%;
    margin-bottom: 8px;
    width: 40%;
}

.select-css {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.input-number {
    width: 53%;
    margin-left: 2%;
    float: left;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.8em 1.4em .5em .7em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.input-number:hover {
    border-color: #888;
}

.input-number:focus {
    border-color: #aaa;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

#filter-element1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#filter-element2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
}

#filter-element3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
}

#filter-element4 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
}

.invisible {
    display: none;
}

.info-popup {
    margin: 0;
    width: 20%;
    margin-left: 40%;

    background-color: white;
    opacity: 0.8;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: lightskyblue;
}

.info-popup p {
    font-size: small;
    color: #888888;
}